.Link_caja{
    margin: auto 25px;
}
.Link{
    color: white;
    margin: 22px 20px;
    text-decoration: none;
    font-family: 'Press Start 2P';
    font-size: 1em; 
}

.Link:hover{
    color: crimson;
}
.caja_Nav{
    display: flex;
}
.SearchBar{
    margin: auto 10px;
}
.SearchBar input{
    width: 60%;
    padding: 5px;
    border: none;
    margin-right: 5px;
    background-color: white;
    border-radius: 5px;
     
}
.SearchBar button{
    font-family: 'Press Start 2P';
    border: none;
    width: 35%;
    padding: 5px;
    transition: all 0.4s;
    border-radius: 4px;
}
.SearchBar button:hover{
    background-color: rgb(255, 255, 76);
    transform: scale(0.95);
}
.caja_fixed{
    display: flex;
    z-index: 10;
    margin-top: -45px;
    position: fixed;
    width: 100%;
    height: 60px;
    justify-content: flex-end;
    background-image: url('./img/rick-and-morty-under-purple-sky-vwahz1qcdne7f8mx.jpg');  
    -webkit-box-shadow: 0px 9px 5px 0px white;
-moz-box-shadow: 0px 9px 5px 0px white;
box-shadow: 0px 9px 5px 0px rgb(23, 23, 23);
}

.caja_button{
    display: flex;
    width: 2fr;
    
}
.button_r{
    position: relative;
    margin: auto;
    margin-right: 30px;
    font-family: 'Press Start 2P';
    height: 25px;
    transition: all 0.5s;  
    border: 1px solid black;
    border-radius: 5px;
}
.button_r:hover{
    transform: scale(0.95);
    background-color: rgb(255, 0, 0);
}
@media only screen and (max-width: 880px) {
    .Link_caja{
        position: absolute;
        bottom: 5px;
        right: 18%;
        
    }
    .Link{
        font-size: 14px;
    }
     
     
     
    
    .caja_fixed{
     height: 12%;
     z-index: 15;
    }
    .button_r{
        margin-right: 0;
        margin-top:15px;
    }
    .SearchBar{
        margin-top: 15px;

    }
}