.fav{
    position: absolute;
    background: none;
    border: none;
    font-size: 1.6em;

}
.buttonX{
    border: none;
    border: 2px solid black;
    font-family: 'Press Start 2P';
    width: 11.5%;
    transition: all 0.4s;
    position: absolute;
    top: 6px;
    right: 7px;
    z-index: 11;
    font-size: 1.1em;
    border-radius: 4px;
    
  
}
.buttonX:hover{
    transform: scale(0.95);
    color: black;
    background-color: red;
}
.caja_carta{
    position: relative;
}